<!DOCTYPE html>
<html ng-app="task2">
<head>
    <title>task 2</title>
    <!--Создайте страницу с десятью тегами div с текстом, полем ввода и кнопкой. Добавьте фильтр, который при вводе значения в поле и после нажатия на кнопку, 
        покажет пользователю только те блоки, текст в которых соответствуют введеному значению. Остальные блоки должны быть скрыты. -->
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../Libraries/bootstrap.css" />
    <script src="../Libraries/angular.js"></script>
    <script>
        angular.module('task2', [])
        .controller('bodyCtrl', function ($scope) {
            $scope.divsText = [{ text: 'text1' }, { text: 'text2' }, { text: 'text3' }, { text: 'text1' }, { text: 'text2' }, { text: 'text3' }, { text: 'text1' }, { text: 'text2' }, { text: 'text3' }, { text: 'text1' }, { text: 'text2' }, { text: 'text3' }];
            $scope.text = '';
            $scope.outputTable = function () {
                $scope.text = $scope.textValue;
            }
        })
        .filter('sort', function () {
            return function (arr, text) {
                var arr1 = [];
                for (i = 0; i < arr.length; i++) {
                    if (arr[i].text === text) {
                        arr1.push(arr[i]);
                    }
                }
                return arr1;
            }
        });
    </script>
</head>
<body ng-controller="bodyCtrl">
    <div ng-repeat="item in divsText | sort: text">{{item.text}}</div>
    <input type="text" ng-model="textValue"/>
    <input type="button" ng-click="outputTable()" value="Click me!" />
</body>
</html>
