.top-block {
    height: 100px;
    z-index: 1000;
    background: rgba(19,19,22,0.3);
    position: fixed;
    width: 100%;
    top: 0px;
}

#logo {
    float: left;
    padding: 17px 0 26px 0;
}

header b {
    font-size: 13px;
    color: #ffffff;
}

header ul{
    list-style-type: none;
}

header ul li{
    float: left;
    padding: 38px 0 44px 0;
    cursor:pointer;
}

header .separator{
    margin: 20px 0px 25px 0px;    
    float: left;
}

.selected > * {
    color: #ffe600;
}