#news {
    padding: 100px 0 220px 0;
}

#news .separator {
    margin-bottom: 40px;
}

#news .img {
    height: 225px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #9e9e9e;
    position: relative;
}

#news .img .date {
    position: absolute;
    height: 65px;
    width: 65px;
    background: #203e38;
    text-align: center;
    top: 0;
    right: 0;
    padding-top: 10px;
}

#news .img .date p {
    color: #fff;
    font-size: 16px;
    font-family: 'Montserrat Regular';
}

#news .item {
    cursor: pointer;
    margin-top: 30px;
}

#news .item:hover .date{
    background: #18cfab;
}

#news .text {
    background: #f8fcfe;
    border: 1px solid #ebebeb;
    color: #717171;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 18px;
    font-family: 'Montserrat Bold';
}

#news .item:hover .text {
    color: #18cfab;
}

#news button {
	width: 165px;
	height: 60px;
	border-radius: 4px;
	background-color: #18cfab;
	font-family: 'Montserrat Bold';
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	outline: none;
	line-height: 60px;
	padding-left: 50px;
	text-align: left;
	border: none;
	position: relative;
    margin: 0 auto;
    top: 85px;
    display:block;
}

#news button div {
	position: absolute;
	top: 50%;
	left:20px;
	transform: translateY(-50%);
}

#news .record {
	width: 100%;
	margin-top: 40px;
}

#news .record .title {
	background: #f7f7f7;
	width: 100%;
	padding: 14px 14px 10px 14px;
	border: 1px solid #dedede;
	border-radius: 4px 4px 0 0;
	position: relative;
	color: #4e4e4e;
	font-family: 'Montserrat Regular';
	font-size: 18px;
}

#news .record .text {
    all: inherit;
    margin: 0;
	width: 100%;
	padding: 20px 17px 15px 17px;
	border: 1px solid #dedede;
	border-radius: 0 0 4px 4px;
	color: #4e4e4e;
	font-family: 'Montserrat Light';
	font-size: 14px;
}

#news .record .cross {
	position: absolute;
	top: 50%;
	right:15px;
	transform: translateY(-50%);
	cursor: pointer;
}