footer {
    height: 108px;
    line-height: 108px;
    background: #22353f;
    text-align: center;
    color: #aeaeae;
}

footer > div {
    display:flex;
    flex-direction:row;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

footer > div > div {
    flex-grow:0;
    white-space: nowrap;
}

footer > div > a{
    flex-grow:1;
}

footer span {
    color: #18cfab;
}

footer .upArrow {
    cursor: pointer;
    margin: 32px 0 32px 28px;
}